<%- include('partial/header'); %>

<h1>HOME</h1>

<p><%= startingContent %> </p>

<% posts.forEach(function(post){ %>
    <div>
        <h1> <%= post.title; %>  </h1>
        <p> <%= post.content.substring(0,100) + "..."; %>
        <a href="/posts/<%= post.title.toLowerCase() %> ">Read More...</a>
        </p>
    </div> 
     <% }); %>


<%- include("partial/footer"); %> 